#accordian{
	width: 250px;
}

.section-link{
	border: 1px solid black;
	display: block;
}


.description{
	height: 0;
	border: 1px dashed black;
	margin: 0;

	overflow: hidden;
	/*Add the Transition*/
	transition: all 2s ease-in;
}
/*target elements*/
#section1:target,#section2:target,#section3:target{
	height: 150px;
	background-color: #9b59b6;
}